examples/broadcast-automation.json
{
  "name": "Resend - Broadcast Campaign Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weekInterval": 1,
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Weekly Friday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "segments",
        "operation": "list"
      },
      "id": "resend-segments-1",
      "name": "Get Segments",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Select a segment for the broadcast\nconst segments = $input.first().json.data || [];\n\nif (segments.length === 0) {\n  throw new Error('No segments found. Please create a segment in Resend first.');\n}\n\n// Find newsletter or weekly segment, or use first available\nlet targetSegment = segments.find(s => \n  s.name.toLowerCase().includes('newsletter') || \n  s.name.toLowerCase().includes('weekly') ||\n  s.name.toLowerCase().includes('all')\n);\n\n// Fallback to first segment\nif (!targetSegment) {\n  targetSegment = segments[0];\n}\n\nconst campaignName = `Weekly Update - ${new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}`;\n\nreturn [{\n  json: {\n    segment_id: targetSegment.id,\n    segment_name: targetSegment.name,\n    campaign_date: new Date().toISOString().split('T')[0],\n    campaign_name: campaignName\n  }\n}];"
      },
      "id": "code-segments-1",
      "name": "Select Segment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "broadcasts",
        "operation": "create",
        "segmentId": "={{ $json.segment_id }}",
        "broadcastFrom": "newsletter@yourdomain.com",
        "broadcastSubject": "={{ $json.campaign_name }}",
        "broadcastHtml": "={{ $json.html_content || '<h1>Weekly Update - ' + new Date().toLocaleDateString() + '</h1><p>Hello there!</p><p>Here\\'s what\\'s new this week.</p><p><a href=\"{{{RESEND_UNSUBSCRIBE_URL}}}\">Unsubscribe</a></p>' }}",
        "broadcastCreateOptions": {
          "name": "={{ $json.campaign_name }}"
        }
      },
      "id": "resend-broadcast-create-1",
      "name": "Create Broadcast",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Broadcast Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "resource": "broadcasts",
        "operation": "send",
        "broadcastId": "={{ $json.id }}"
      },
      "id": "resend-broadcast-send-1",
      "name": "Send Broadcast",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        1340,
        180
      ],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#marketing",
        "text": "=\ud83d\udce8 *Weekly Newsletter Sent!*\n\n*Campaign:* {{ $('Select Segment').item.json.campaign_name }}\n*Segment:* {{ $('Select Segment').item.json.segment_name }}\n*Broadcast ID:* {{ $('Create Broadcast').item.json.id }}\n*Sent at:* {{ new Date().toISOString() }}",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Notify Team on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1560,
        180
      ],
      "notes": "Optional: Configure Slack credentials"
    },
    {
      "parameters": {
        "channel": "#marketing",
        "text": "=\u26a0\ufe0f *Broadcast Creation Failed*\n\nCampaign: {{ $('Select Segment').item.json.campaign_name }}\nError: Check execution logs for details",
        "otherOptions": {}
      },
      "id": "slack-error-1",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1340,
        420
      ],
      "notes": "Optional: Configure Slack credentials"
    },
    {
      "parameters": {
        "content": "## Broadcast Campaign Automation\n\nThis workflow automates weekly newsletter broadcasts using Resend.\n\n### Flow:\n1. **Schedule**: Triggers every Friday at 9 AM\n2. **Get Segments**: Fetches available segments\n3. **Select Segment**: Picks target segment (required for broadcasts)\n4. **Create Broadcast**: Creates the campaign with HTML content\n5. **Send Broadcast**: Sends to all contacts in segment\n6. **Notify**: Alerts team on Slack\n\n### Configuration:\n1. Set up Resend credentials\n2. Create contacts and a segment\n3. Update sender email (verified domain)\n4. Include {{{RESEND_UNSUBSCRIBE_URL}}} in HTML content\n\n### Customization:\n- Change schedule trigger for different timing\n- Modify HTML content or add dynamic content\n- Connect to CMS for content sourcing"
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        40
      ]
    }
  ],
  "connections": {
    "Weekly Friday 9 AM": {
      "main": [
        [
          {
            "node": "Get Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Segments": {
      "main": [
        [
          {
            "node": "Select Segment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Segment": {
      "main": [
        [
          {
            "node": "Create Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Broadcast": {
      "main": [
        [
          {
            "node": "Broadcast Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Broadcast Created?": {
      "main": [
        [
          {
            "node": "Send Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Broadcast": {
      "main": [
        [
          {
            "node": "Notify Team on Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
