examples/broadcast-automation.json
{
  "name": "Resend - Broadcast Campaign Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weekInterval": 1,
              "triggerAtDay": [5],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Weekly Friday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "audiences",
        "operation": "list"
      },
      "id": "resend-audience-1",
      "name": "Get Audiences",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Select the primary newsletter audience\nconst audiences = $input.first().json.data || [];\n\nif (audiences.length === 0) {\n  throw new Error('No audiences found. Please create an audience in Resend first.');\n}\n\n// Find newsletter or subscribers audience\nlet targetAudience = audiences.find(a => \n  a.name.toLowerCase().includes('newsletter') || \n  a.name.toLowerCase().includes('weekly')\n);\n\n// Fallback to first audience\nif (!targetAudience) {\n  targetAudience = audiences[0];\n}\n\nreturn [{\n  json: {\n    audience_id: targetAudience.id,\n    audience_name: targetAudience.name,\n    campaign_date: new Date().toISOString().split('T')[0],\n    campaign_name: `Weekly Update - ${new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}`\n  }\n}];"
      },
      "id": "code-1",
      "name": "Select Audience",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "templates",
        "operation": "list"
      },
      "id": "resend-templates-1",
      "name": "Get Templates",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Select the weekly newsletter template\nconst templates = $input.first().json.data || [];\nconst audienceData = $('Select Audience').first().json;\n\nif (templates.length === 0) {\n  // No template found, we'll use inline HTML\n  return [{\n    json: {\n      ...audienceData,\n      use_template: false,\n      template_id: null,\n      html_content: `\n        <h1>Weekly Update - ${new Date().toLocaleDateString()}</h1>\n        <p>Hello there!</p>\n        <p>Here's what's new this week:</p>\n        <ul>\n          <li>Feature updates and improvements</li>\n          <li>Tips and best practices</li>\n          <li>Community highlights</li>\n        </ul>\n        <p>Stay tuned for more updates!</p>\n        <p>Best,<br>The Team</p>\n      `\n    }\n  }];\n}\n\n// Find weekly newsletter template\nlet template = templates.find(t => \n  t.name.toLowerCase().includes('weekly') || \n  t.name.toLowerCase().includes('newsletter')\n);\n\n// Fallback to first template\nif (!template) {\n  template = templates[0];\n}\n\nreturn [{\n  json: {\n    ...audienceData,\n    use_template: true,\n    template_id: template.id,\n    template_name: template.name\n  }\n}];"
      },
      "id": "code-2",
      "name": "Select Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "resource": "broadcasts",
        "operation": "create",
        "audienceId": "={{ $json.audience_id }}",
        "from": "newsletter@yourdomain.com",
        "subject": "={{ $json.campaign_name }}",
        "additionalFields": {
          "name": "={{ $json.campaign_name }}",
          "previewText": "Your weekly dose of updates and insights",
          "html": "={{ $json.use_template ? undefined : $json.html_content }}"
        }
      },
      "id": "resend-broadcast-create-1",
      "name": "Create Broadcast",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Broadcast Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "broadcasts",
        "operation": "send",
        "broadcastId": "={{ $json.id }}"
      },
      "id": "resend-broadcast-send-1",
      "name": "Send Broadcast",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [1780, 180],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#marketing",
        "text": "=📨 *Weekly Newsletter Sent!*\n\n*Campaign:* {{ $('Select Audience').item.json.campaign_name }}\n*Audience:* {{ $('Select Audience').item.json.audience_name }}\n*Broadcast ID:* {{ $('Create Broadcast').item.json.id }}\n*Sent at:* {{ new Date().toISOString() }}",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Notify Team on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [2000, 180],
      "notes": "Optional: Configure Slack credentials"
    },
    {
      "parameters": {
        "channel": "#marketing",
        "text": "=⚠️ *Broadcast Creation Failed*\n\nCampaign: {{ $('Select Audience').item.json.campaign_name }}\nError: Check execution logs for details",
        "otherOptions": {}
      },
      "id": "slack-error-1",
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 420],
      "notes": "Optional: Configure Slack credentials"
    },
    {
      "parameters": {
        "content": "## Broadcast Campaign Automation\n\nThis workflow automates weekly newsletter broadcasts using Resend.\n\n### Flow:\n1. **Schedule**: Triggers every Friday at 9 AM\n2. **Get Audiences**: Fetches available audiences\n3. **Select Audience**: Picks newsletter audience\n4. **Get Templates**: Lists available templates\n5. **Select Template**: Picks newsletter template (or uses inline HTML)\n6. **Create Broadcast**: Creates the campaign\n7. **Send Broadcast**: Sends to all contacts in audience\n8. **Notify**: Alerts team on Slack\n\n### Configuration:\n1. Set up Resend credentials\n2. Create an audience and add contacts\n3. Optionally create a reusable template\n4. Update sender email (verified domain)\n5. Configure Slack for notifications (optional)\n\n### Customization:\n- Change schedule trigger for different timing\n- Add content from external sources (CMS, RSS)\n- Include dynamic content per recipient"
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "Weekly Friday 9 AM": {
      "main": [
        [
          {
            "node": "Get Audiences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audiences": {
      "main": [
        [
          {
            "node": "Select Audience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Audience": {
      "main": [
        [
          {
            "node": "Get Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Templates": {
      "main": [
        [
          {
            "node": "Select Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Template": {
      "main": [
        [
          {
            "node": "Create Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Broadcast": {
      "main": [
        [
          {
            "node": "Broadcast Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Broadcast Created?": {
      "main": [
        [
          {
            "node": "Send Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert on Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Broadcast": {
      "main": [
        [
          {
            "node": "Notify Team on Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
