examples/human-in-loop-freetext.json
{
  "name": "Resend - Human-in-the-Loop Free Text Feedback",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weekInterval": 1,
              "triggerAtDay": [1]
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending_feedback"
            }
          ]
        }
      },
      "id": "sheets-1",
      "name": "Get Pending Feedback Requests",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [440, 300],
      "notes": "Configure Google Sheets credentials and document"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "sendAndWait",
        "sendFrom": "feedback@yourdomain.com",
        "sendTo": "={{ $json.customer_email }}",
        "subject": "=We'd love your feedback on {{ $json.product_name }}!",
        "message": "=Hi {{ $json.customer_name }},\n\nThank you for your recent purchase of {{ $json.product_name }}!\n\nWe'd love to hear your thoughts. Your feedback helps us improve our products and service.\n\n**Order Details:**\n- Order #: {{ $json.order_id }}\n- Product: {{ $json.product_name }}\n- Purchase Date: {{ $json.purchase_date }}\n\nClick the button below to share your experience:",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Share Feedback",
          "responseFormTitle": "Your Feedback",
          "responseFormDescription": "=Please share your experience with {{ $json.product_name }}. We read every response!",
          "responseFormButtonLabel": "Submit Feedback",
          "limitWaitTime": {
            "values": {
              "limitType": "afterTimeInterval",
              "resumeAmount": 7,
              "resumeUnit": "days"
            }
          },
          "appendAttribution": true
        }
      },
      "id": "resend-sendwait-1",
      "name": "Send Feedback Request",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Has Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process and analyze the feedback\nconst feedback = $input.first().json.data.text;\nconst originalData = $('Get Pending Feedback Requests').first().json;\n\n// Simple sentiment analysis based on keywords\nconst positiveWords = ['great', 'excellent', 'amazing', 'love', 'perfect', 'fantastic', 'wonderful', 'happy', 'satisfied'];\nconst negativeWords = ['bad', 'poor', 'terrible', 'hate', 'awful', 'disappointed', 'unhappy', 'broken', 'defective'];\n\nconst lowerFeedback = feedback.toLowerCase();\nlet sentiment = 'neutral';\nlet score = 0;\n\npositiveWords.forEach(word => {\n  if (lowerFeedback.includes(word)) score++;\n});\n\nnegativeWords.forEach(word => {\n  if (lowerFeedback.includes(word)) score--;\n});\n\nif (score > 0) sentiment = 'positive';\nif (score < 0) sentiment = 'negative';\n\nreturn [{\n  json: {\n    order_id: originalData.order_id,\n    customer_email: originalData.customer_email,\n    customer_name: originalData.customer_name,\n    product_name: originalData.product_name,\n    feedback_text: feedback,\n    sentiment: sentiment,\n    sentiment_score: score,\n    received_at: new Date().toISOString(),\n    word_count: feedback.split(' ').length\n  }\n}];"
      },
      "id": "code-1",
      "name": "Analyze Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 180]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "customer_email": "={{ $json.customer_email }}",
            "customer_name": "={{ $json.customer_name }}",
            "product_name": "={{ $json.product_name }}",
            "feedback_text": "={{ $json.feedback_text }}",
            "sentiment": "={{ $json.sentiment }}",
            "received_at": "={{ $json.received_at }}"
          }
        }
      },
      "id": "sheets-2",
      "name": "Save to Feedback Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1320, 180],
      "notes": "Configure Google Sheets credentials"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "feedback@yourdomain.com",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "Thank you for your feedback!",
        "emailType": "html",
        "htmlBody": "=<h2>Thank You, {{ $json.customer_name }}!</h2>\n<p>We really appreciate you taking the time to share your thoughts about {{ $json.product_name }}.</p>\n<p>Your feedback helps us improve and serve you better.</p>\n<p>If you have any other questions or concerns, please don't hesitate to reach out!</p>\n<p>Best regards,<br>The Team</p>"
      },
      "id": "resend-thanks-1",
      "name": "Send Thank You",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [1540, 180],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mark as no response received (timed out)\nconst originalData = $('Get Pending Feedback Requests').first().json;\n\nreturn [{\n  json: {\n    order_id: originalData.order_id,\n    customer_email: originalData.customer_email,\n    status: 'no_response',\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-2",
      "name": "Mark No Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 420]
    },
    {
      "parameters": {
        "content": "## Free Text Feedback Collection Workflow\n\nThis workflow collects customer feedback using Resend's Send and Wait with free text response.\n\n### How It Works:\n1. **Schedule**: Runs weekly (configurable)\n2. **Get Requests**: Loads customers pending feedback\n3. **Send Email**: Sends feedback request with form link\n4. **Wait**: Workflow pauses until customer responds (or 7-day timeout)\n5. **Process**: Analyzes feedback sentiment\n6. **Save**: Stores feedback in Google Sheets\n7. **Thank**: Sends thank-you email to customer\n\n### Features:\n- Form-based text input for customers\n- Basic sentiment analysis\n- Automatic thank-you emails\n- Timeout handling for non-responders\n\n### Configuration:\n- Set your verified sender domain\n- Connect Google Sheets for data storage\n- Adjust timeout period as needed"
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Get Pending Feedback Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Feedback Requests": {
      "main": [
        [
          {
            "node": "Send Feedback Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Feedback Request": {
      "main": [
        [
          {
            "node": "Has Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Response?": {
      "main": [
        [
          {
            "node": "Analyze Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark No Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Feedback": {
      "main": [
        [
          {
            "node": "Save to Feedback Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Feedback Sheet": {
      "main": [
        [
          {
            "node": "Send Thank You",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
