examples/human-in-loop-approval.json
{
  "name": "Resend - Human-in-the-Loop Approval",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simulate an approval request - replace with your actual data source\n// This could come from a form, webhook, database, etc.\n\nreturn [{\n  json: {\n    request_id: 'REQ-2024-001',\n    request_type: 'Expense Report',\n    requester_name: 'John Smith',\n    requester_email: 'john.smith@company.com',\n    amount: '$2,450.00',\n    description: 'Q4 Marketing Conference Travel Expenses',\n    submitted_date: new Date().toISOString().split('T')[0],\n    approver_email: 'manager@company.com',  // Change to actual approver email\n    details: [\n      'Flight: $850',\n      'Hotel (3 nights): $1,200',\n      'Meals & Transportation: $400'\n    ]\n  }\n}];"
      },
      "id": "code-1",
      "name": "Get Approval Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "notes": "Replace with your data source (form, database, API, etc.)"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "sendAndWait",
        "sendFrom": "approvals@yourdomain.com",
        "sendTo": "={{ $json.approver_email }}",
        "subject": "=Approval Required: {{ $json.request_type }} - {{ $json.request_id }}",
        "message": "=A new {{ $json.request_type }} requires your approval.\n\n**Request Details:**\n- Request ID: {{ $json.request_id }}\n- Requested By: {{ $json.requester_name }}\n- Amount: {{ $json.amount }}\n- Description: {{ $json.description }}\n- Submitted: {{ $json.submitted_date }}\n\n**Breakdown:**\n{{ $json.details.join('\\n') }}\n\nPlease review and click Approve or Decline below.",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approve",
            "buttonApprovalStyle": "primary",
            "disapproveLabel": "Decline",
            "buttonDisapprovalStyle": "secondary"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "limitType": "afterTimeInterval",
              "resumeAmount": 48,
              "resumeUnit": "hours"
            }
          },
          "appendAttribution": true
        }
      },
      "id": "resend-sendwait-1",
      "name": "Send Approval Email",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Was Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "approvals@yourdomain.com",
        "toEmail": "={{ $('Get Approval Request').item.json.requester_email }}",
        "subject": "=✅ Approved: {{ $('Get Approval Request').item.json.request_type }} - {{ $('Get Approval Request').item.json.request_id }}",
        "emailType": "html",
        "htmlBody": "=<h2>Your Request Has Been Approved!</h2>\n<p>Great news! Your {{ $('Get Approval Request').item.json.request_type }} request has been approved.</p>\n<ul>\n<li><strong>Request ID:</strong> {{ $('Get Approval Request').item.json.request_id }}</li>\n<li><strong>Amount:</strong> {{ $('Get Approval Request').item.json.amount }}</li>\n<li><strong>Approved on:</strong> {{ new Date().toLocaleDateString() }}</li>\n</ul>\n<p>Please proceed with the next steps.</p>"
      },
      "id": "resend-approved-1",
      "name": "Send Approved Notification",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [1120, 180],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "approvals@yourdomain.com",
        "toEmail": "={{ $('Get Approval Request').item.json.requester_email }}",
        "subject": "=❌ Declined: {{ $('Get Approval Request').item.json.request_type }} - {{ $('Get Approval Request').item.json.request_id }}",
        "emailType": "html",
        "htmlBody": "=<h2>Your Request Has Been Declined</h2>\n<p>Unfortunately, your {{ $('Get Approval Request').item.json.request_type }} request was not approved.</p>\n<ul>\n<li><strong>Request ID:</strong> {{ $('Get Approval Request').item.json.request_id }}</li>\n<li><strong>Amount:</strong> {{ $('Get Approval Request').item.json.amount }}</li>\n<li><strong>Declined on:</strong> {{ new Date().toLocaleDateString() }}</li>\n</ul>\n<p>Please contact your manager for more information.</p>"
      },
      "id": "resend-declined-1",
      "name": "Send Declined Notification",
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [1120, 420],
      "credentials": {
        "resendApi": {
          "id": "",
          "name": "Resend API"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"request_id\": \"{{ $('Get Approval Request').item.json.request_id }}\",\n  \"status\": \"{{ $json.data.approved ? 'approved' : 'declined' }}\",\n  \"processed_at\": \"{{ new Date().toISOString() }}\",\n  \"requester\": \"{{ $('Get Approval Request').item.json.requester_name }}\"\n}",
        "options": {}
      },
      "id": "set-1",
      "name": "Update Database",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300],
      "notes": "Replace with actual database update (e.g., Postgres, Airtable)"
    },
    {
      "parameters": {
        "content": "## Human-in-the-Loop Approval Workflow\n\nThis workflow implements a complete approval process using Resend's Send and Wait functionality.\n\n### How It Works:\n1. **Trigger**: Manual trigger (replace with form, webhook, or schedule)\n2. **Get Request**: Loads the item requiring approval\n3. **Send Approval Email**: Sends email with Approve/Decline buttons\n4. **Wait**: Workflow pauses until recipient clicks a button (or timeout)\n5. **Route**: Routes to approved or declined path\n6. **Notify**: Sends outcome notification to requester\n7. **Update**: Updates database with decision\n\n### Configuration:\n- Set your sender email domain (must be verified in Resend)\n- Configure the timeout (default: 48 hours)\n- Connect to your data source and destination\n- Add Resend API credentials"
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approval Request": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Was Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was Approved?": {
      "main": [
        [
          {
            "node": "Send Approved Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Declined Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approved Notification": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Declined Notification": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
