examples/trigger-email-events.json
{
  "name": "Resend - Email Event Tracking",
  "nodes": [
    {
      "parameters": {
        "path": "resend-email-events",
        "webhookSigningSecret": "={{ $env.RESEND_WEBHOOK_SECRET }}",
        "events": [
          "email.sent",
          "email.delivered",
          "email.opened",
          "email.clicked",
          "email.bounced",
          "email.complained",
          "email.delivery_delayed"
        ]
      },
      "id": "trigger-1",
      "name": "Resend Trigger",
      "type": "n8n-nodes-resend.resendTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "resend-email-events"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "sent",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "email.sent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "delivered",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "email.delivered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "opened",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "email.opened",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "clicked",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "email.clicked",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "bounced",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "email.bounced",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "complained",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "email.complained",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        }
      },
      "id": "switch-1",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "={{ $json.type }}",
            "email_id": "={{ $json.data.email_id }}",
            "to": "={{ $json.data.to }}",
            "from": "={{ $json.data.from }}",
            "subject": "={{ $json.data.subject }}",
            "timestamp": "={{ $json.created_at }}",
            "click_url": "={{ $json.data.click?.link || '' }}",
            "bounce_type": "={{ $json.data.bounce?.type || '' }}"
          }
        }
      },
      "id": "sheets-1",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [720, 160],
      "notes": "Configure your Google Sheets document ID and sheet name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "email.bounced",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "if-1",
      "name": "Is Bounce or Complaint?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "channel": "#email-alerts",
        "text": "⚠️ Email Delivery Issue\n\n*Type:* {{ $json.type }}\n*To:* {{ $json.data.to }}\n*Subject:* {{ $json.data.subject }}\n*Bounce Type:* {{ $json.data.bounce?.type || 'N/A' }}\n*Reason:* {{ $json.data.bounce?.message || $json.data.complaint?.type || 'Unknown' }}",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Alert on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [960, 380],
      "notes": "Configure Slack credentials and channel"
    },
    {
      "parameters": {
        "content": "## Email Event Tracking Workflow\n\nThis workflow monitors Resend email events and:\n1. Routes events by type (sent, delivered, opened, clicked, bounced)\n2. Logs all events to Google Sheets for analytics\n3. Sends Slack alerts for bounces and complaints\n\n### Setup Instructions:\n1. Configure Resend Trigger with your webhook signing secret\n2. Set up Google Sheets credentials and document\n3. Add Slack credentials (optional)\n4. Activate workflow and register webhook URL in Resend dashboard"
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "Resend Trigger": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Bounce or Complaint?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Bounce or Complaint?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bounce or Complaint?": {
      "main": [
        [
          {
            "node": "Alert on Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
